*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://i.pinimg.com/originals/a4/12/28/a41228687dd9df1b5cbd27bbac0a7be8.png");
    background-size: cover;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 350px;
    margin-top: 30px;
}

form{
    margin-top: 90px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input[type="submit"]{
        background-color: #42b132;
    }

}