.boton{
    background-color: #7373ec;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 999999px;
    transition: ease .2s;

    &:hover{
        background-color: #5454ac;
    }
}

input[type="text"], input[type="date"]{
    border-radius: 9999px;
    padding: 5px 10px;
    transition: ease .3s;
    outline: none;
    border: none;
    border: 3px solid;

    &:focus{
        border-color: #5454ac;
    }
}


#ejercicio1, #ejercicio5, #ejercicio6{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & div{
        display: flex;
        gap: 5px;

        & input{
            width: 100%;
        }
    }
}

#ejercicio3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    user-select: none;

    & button{
        font-size: 16px;
    }
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
    color: black;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}
#pink{
    background-color: pink;
    color: black;
}