*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "medieval";
}

@font-face{
    font-family: "medieval";
    src: url(../Seagram\ tfb.ttf);
}

:root{
    scrollbar-width: thin;
}