@font-face{
    font-family: "twitter";
    src: url("../fonts/PICOBL__.TTF");
}

:root{
    --text: #000;
    --azulTwitter: #00acee;
    --azulHover: #008bc2;
    --border: #e7ecf0;
    --background: #ffffff;
    --letraSec: #8e8e8e;
}

body{
    position: relative;
    z-index: -9999999999999999999999;
}

main{
    z-index: -9999999999;
}

#home{
    width: 100%;
    border-bottom: 3px solid var(--border);
    padding: 10px;
}

#tweettear{
    position: fixed;
    z-index: 99999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    animation: crearTweet .4s ease normal;
}

.cerrarTweet{
    display: flex;
    border-bottom: 2px solid var(--border);
    padding: 10px;
    color: var(--azulTwitter);

    & i{
        cursor: pointer;
    }
}

.escribir{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid var(--border);

    & img{
        width: 50%;
        align-self: center;
    }
}

#textoInput{
    all: unset;
    width: 100%;
    color: #000;
    height: 100px;
    font-size: 18px;
    scrollbar-width: thin;
}

.opcionesTweet{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    & div{
        display: flex;
        gap: 20px;

        & .icon{
            font-size: 25px;
            color: var(--azulTwitter);
            cursor: pointer;
            transition: ease .2s;

            &:hover{
                color: var(--azulHover);
            }
        }
    }


    & button{
        all: unset;
        background-color: var(--azulTwitter);
        color: white;
        padding: 10px 30px;
        transition: ease .3s;
        border-radius: 99999px;
        cursor: pointer;

        &:hover{
            background-color: var(--azulHover);
        }
    }
}

.fotoSubida{
    position: relative;
    display: flex;
    justify-content: center;

    & i{
        display: none;
    }

    &:hover{
        & .borrarFoto{
            background-color: #0000009a;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 100%;
    
            & i{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                cursor: pointer;
            }
        }
    }
}

.searchTwitter{
    min-height: 100vh;
    border-left: 3px solid var(--border);
    min-width: 300px;
}

#tweets{
    z-index: -99999;
    padding-bottom: 100px;
}

.tweet{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    border-bottom: 2px solid var(--border);
    animation: showTweet 1s ease normal;
    z-index: -99;
}

#fotoUser{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
}


.tweetData{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.secundario{
    color: var(--letraSec);
    
}

.puntoSep{
    font-size: 14px;
}

#fotoTweet{
    max-width: 100%;
    width: auto;
    max-height: 400px;
    height: auto;
    border-radius: 20px;
    margin-top: 15px;
}

.tweetOptions{
    display: flex;
    margin-top: 15px;
    gap: 80px;
    font-size: 18px;
    
    & i{
        cursor: pointer;
        color: var(--letraSec);
    }
}

@media (width < 1000px){
    .searchTwitter{
        display: none;
    }

    .tweetOptions{
        gap: 70px;
    }

    #fotoUser{
        width: 50px;
        height: 50px;
    }
}

@media (width < 650px){
    #home{
        font-size: 14px;
        padding-left: 20px;
    }

    .escribir > img{
        width: 70%;
    }

    #fotoUser{
        width: 50px;
        height: 50px;
    }


}

@media (width < 450px){
    .opcionesTweet{
        & div{
            gap: 5px;
        }
    }

    .tweet{
        flex-direction: column;
        position: relative;
    }

    .tweetData{
        font-size: 17px;
        position: absolute;
        top: 10px;
        left: 80px;

        & span{
            display: none;
        }

        & #fechaEnvio{
            position: absolute;
            top: 23px;
            left: 0;
        }
    }

    .tweetOptions{
        gap: 0;
        justify-content: space-between;
    }

}

@keyframes showTweet{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}



@keyframes crearTweet{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}