main{
    display: flex;
    flex-direction: row;
}

#btnCerrarSesion{
    all: unset;
    width: fit-content;
    align-self: center;
    margin: 0;
    cursor: pointer;
    background-color: #e52626;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 9999px;
    transition: ease .3s;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover{
        background-color: #b61e1e;
    }
}

.datos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 30px 60px;
    gap: 10px;
}

.personalData{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    padding: 20px;
}

.input{
    all: unset;
    border: 2px solid var(--letraSec);
    padding: 5px;
    border-radius: 5px;
    transition: ease .2s;

    &:focus{
        border-color: var(--azulHover);
        color: black;
    }
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    color: var(--letraSec);
    
    & label{
        font-weight: bold;
    }
}

#btnGuardar{
    all: unset;
    align-self: center;
    padding: 10px 20px;
    border-radius: 99999px;
    cursor: pointer;
    background-color: var(--azulTwitter);
    color: white;
    transition: ease .3s;

    &:hover{
        background-color: var(--azulHover);
    }
}

.imageChange{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    & img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        background-position: center;
    }

    & label{
        cursor: pointer;
        background-color: var(--azulTwitter);
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 99999px;
        transition: ease .3s;

        &:hover{
            background-color: var(--azulHover);
        }
    }
}

.modal{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0px 0px 10px #0000006a;
    animation: modal 4.5s ease-out forwards;
}

.error{
    border-color: red;

    &:focus{
        border-color: red;
    }
}

.msgError{
    color: red;
    align-self: flex-start;
    margin-top: 5px;
}

@media (width < 950px){
    .datos{
        flex-direction: column;
    }

    .inputs{
        width: 100%;
    }

    .imageChange{
        justify-content: start;
        gap: 30px;

        & img{
            width: 150px;
            height: 150px;
        }
    }
}

@media (width < 500px){
    .datos{
        padding: 0;
    }

    #btnGuardar{
        padding: 5px 10px;
    }

    .imageChange{
        justify-content: start;
        gap: 30px;

        & img{
            width: 125px;
            height: 125px;
        }

        & label{
            padding: 5px 10px;
        }
    }

    .modal{
        font-size: 14px;
        right: 10px;
    }
}


@keyframes modal{
    0%{
        transform: translateY(100px);
    }

    20%{
        transform: translateY(0);
    }

    80%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(100px);
    }
}